@charset "UTF-8";
.wrapper {
  background: #000; }

a {
  color: #fff !important; }

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh; }

html,
body {
  font-family: 'Museo Sans Cyrl', sans-serif !important;
  color: #fff; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  font-weight: 100 !important;
  color: #fff; }

a {
  text-decoration: none !important;
  color: #fff; }

.box-navbar a {
  text-transform: uppercase; }

.title-default {
  text-align: center;
  padding: 1% 0; }

.table {
  color: #fff !important; }

.table th:nth-child(1) {
  border-top: none; }

.table th:nth-child(2) {
  border-top: none; }

.table th:nth-child(3) {
  border-top: none; }

th {
  text-align: center !important; }

th:last-child {
  color: #b1b1b180; }

tr td:not(:first-child) {
  text-align: center !important; }

tr td:last-child {
  color: #b1b1b180; }

footer {
  width: 100%;
  background: linear-gradient(to top, #000, #393939); }

.footer-container {
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
  display: flex; }
  .footer-container__modal {
    width: 36% !important;
    padding: 2% 2% 2% 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    flex-wrap: wrap; }
  .footer-container__modal a {
    padding: 10px;
    border: 1px solid #575454;
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    min-width: 120px; }
  .footer-container__modal a:nth-child(3) {
    margin-top: 20px; }
  .footer-container__modal a:nth-child(4) {
    margin-top: 20px; }
  .footer-container__social {
    width: 50%;
    padding: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    flex-direction: column;
    padding-left: 0; }
  .footer-container__social img {
    width: 35px; }
  .footer-container__social a:not(:first-child) {
    margin-left: 12px; }

.other a {
  width: 45% !important; }

.boss-container {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  display: none; }
  .boss-container__title {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .boss-container__title h2 {
    width: 100%;
    color: #000;
    text-align: center;
    font-weight: 100;
    font-size: 45px;
    padding: 1%;
    margin: 2% !important; }
  .boss-container__midle {
    width: 100%;
    background: #c4c4c4; }
  .boss-container__midle p {
    color: #000; }

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 3%; }

form p {
  margin-top: -20px; }

.box-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap; }

input[type="text"] {
  width: 40%;
  height: 33px;
  color: #000;
  padding-left: 5px; }

input[type="text"]:nth-child(3) {
  margin-top: 20px; }

input[type="text"]:nth-child(4) {
  margin-top: 20px; }

input[type="button"] {
  width: 123px;
  height: 32px;
  font-size: 18px;
  color: #2c2c2c;
  border-radius: 25px;
  border: none;
  box-shadow: 0px 2px 7px #a4a3a3;
  background: linear-gradient(to bottom, #e2e2e2 17%, #f3f3f3 41%, #f3f3f3 57%, #c1c1c1 100%);
  cursor: pointer;
  font-weight: 300; }

input[type="button"]:nth-child(1) {
  margin-right: 20px; }

.btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  margin-top: 20px; }

textarea {
  width: 100%;
  height: 100px;
  margin: 20px 0 !important;
  padding-left: 5px;
  padding-top: 5px;
  color: #000; }

form textarea::-webkit-input-placeholder {
  color: #000;
  font-size: 16px; }

form input::-webkit-input-placeholder {
  color: #000;
  font-size: 16px; }

.fancybox-skin {
  padding: 0 !important; }

/*Кнопка пульсирующас*/
.pulse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80px;
  height: 80px;
  color: #000000;
  background: #1c84c6;
  border-radius: 50%;
  animation: radial-pulse 1.2s infinite;
  text-align: center;
  position: fixed;
  bottom: 3%;
  right: 6%; }

@keyframes radial-pulse {
  0% {
    box-shadow: 0 0 0 0px #1c84c680; }
  100% {
    box-shadow: 0 0 0 40px #00000000; } }

/*Media*/
@media screen and (max-width: 769px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column; }
    .footer-container__modal {
      width: 50% !important;
      padding: 2%; }
    .footer-container__social-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      margin-bottom: 2%; } }

@media screen and (max-width: 426px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    flex-direction: column; }
    .footer-container__modal {
      width: 60%;
      padding: 2%;
      margin-left: 2%; }
    .footer-container__modal a {
      width: 100%; }
    .footer-container__social {
      width: 60%;
      margin-left: 4%; }
    .footer-container__social p {
      font-size: 10px; }
    .footer-container__social-top {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      margin-bottom: 2%; }
    .footer-container__modal a:nth-child(2) {
      margin-top: 20px; }
  .box-input {
    display: flex;
    flex-direction: column; }
  input[type="text"]:nth-child(2) {
    margin-top: 20px; }
  input[type="text"] {
    width: 90%;
    margin: 0 auto; }
  textarea {
    width: 90%;
    margin: 20px auto !important; }
  form p {
    width: 90%;
    margin: -20px auto; }
  .btn {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    margin-top: 40px; }
  .boss-container__title h2 {
    font-size: 27px; } }

header {
  width: 100%;
  position: fixed;
  top: 0;
  background: #000;
  z-index: 1;
  box-shadow: 0 0 15px #000; }

.header-container {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: unset;
  -ms-flex-pack: unset;
  justify-content: unset;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.box-logo {
  width: 20%;
  margin-left: 3%; }

.box-navbar {
  width: 80%;
  padding: 2%; }
  .box-navbar__links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.navbar-link {
  width: max-content;
  text-align: center;
  font-size: 16px; }

.main-img {
  background: url(../../img/main-img.jpg) 100% 75% no-repeat;
  width: 100%;
  position: relative;
  top: 100px;
  box-shadow: 0 3px 2px 0 #7d7878;
  height: 45.7vw;
  background-size: 100%;
  margin-bottom: 100px; }

/*Mobile Menu*/
.nav-burger {
  width: 25px;
  height: 23px;
  cursor: pointer;
  color: transparent;
  background: url("../../img/icon-menu.svg") no-repeat;
  position: relative;
  left: 50%;
  z-index: 1;
  display: none; }

.nav-burger__checkbox {
  display: none; }

.nav-burger__checkbox:checked ~ .nav-burger {
  background-image: url("../../img/icon-cross.svg"); }

.nav-burger__checkbox:checked ~ .box-navbar__links a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  width: 100%;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  height: 17%; }

.nav-burger__checkbox:checked ~ .box-navbar__links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100px;
  height: calc(100vh - 100px);
  left: 0;
  background: #000;
  width: 100%; }

/*Media*/
@media screen and (max-width: 900px) {
  .nav-burger {
    display: block;
    position: relative; }
  .navbar-link {
    display: none; }
  .box-logo {
    width: 80%;
    margin-left: 17%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
  .box-navbar {
    width: 20%; } }

@media screen and (max-width: 425px) {
  .nav-burger__checkbox:checked ~ .box-navbar__links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100px;
    height: calc(100vh - 100px);
    left: 0;
    background: #000;
    width: 100%; } }

.main-container {
  width: 100%; }
  .main-container__advantages {
    width: 90%;
    margin: 0 auto; }
  .main-container__advantages--midle {
    background: #4b4747; }

.advantages-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap;
  padding: 3%; }
  .advantages-card__item {
    width: 31%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages-card__item p {
    width: 65%;
    margin-top: 2%;
    text-align: start;
    margin-left: 5%; }
  .advantages-card__item--sircle {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .advantages-card__item--sircle img {
    width: 50px; }
  .advantages-card__item:nth-child(4) {
    margin-top: 4%; }
  .advantages-card__item:nth-child(5) {
    margin-top: 4%; }
  .advantages-card__item:nth-child(6) {
    margin-top: 4%; }

.gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: flex-end;
  justify-content: flex-end;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  background-image: linear-gradient(-90deg, #2b2929 1%, #00000000); }

.main-container-price {
  width: 100%; }
  .main-container-price__midle {
    width: 100%;
    background: url(../../img/beautiful-black-and-white-close-up-1399073.jpg) no-repeat;
    background-size: cover; }

.price-card {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 15%; }
  .price-card__item {
    background: #4b4747b9;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    flex-direction: column;
    padding: 4%;
    height: 40%;
    box-shadow: 0px 8px 5px -2px #4b4747; }
  .price-card__item--box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .price-card__item--box p {
    margin-left: 4%; }
  .price-card__item--box img {
    width: 35px; }
  .price-card__item--title p {
    margin-top: 4%; }
  .price-card__item--number h3:nth-child(1) {
    margin: 0; }

.price--img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 7%; }

.price--img img {
  height: 80%; }

.main-container-bonuses--midle {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap; }

.bonuses-card {
  width: 27%;
  background: #fff;
  padding: 2%; }
  .bonuses-card__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 5%; }
  .bonuses-card__title img {
    width: 45px; }
  .bonuses-card__title h3 {
    color: #000;
    padding-left: 3%; }

.list {
  margin: 0;
  padding: 0;
  padding-left: 18px; }
  .list__item {
    color: #000;
    margin-bottom: 3%; }

.main-container-instagram {
  width: 90%;
  margin: 0 auto;
  background: url(../../img/black-and-white-gray-grey-1050305.jpg);
  background-size: cover;
  margin-top: 4%;
  padding-bottom: 2%; }
  .main-container-instagram__midle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    flex-wrap: wrap; }
  .main-container-instagram__midle a {
    width: 26%;
    opacity: 0.6; }
  .main-container-instagram__midle a:hover {
    opacity: 1; }
  .main-container-instagram__midle a img {
    width: 100%; }
  .main-container-instagram__midle a:nth-child(4) {
    margin-top: 3%; }
  .main-container-instagram__midle a:nth-child(5) {
    margin-top: 3%; }
  .main-container-instagram__midle a:nth-child(6) {
    margin-top: 3%; }
  .main-container-instagram__midle a:nth-child(7) {
    margin-top: 3%; }
  .main-container-instagram__midle a:nth-child(8) {
    margin-top: 3%; }
  .main-container-instagram__midle a:nth-child(9) {
    margin-top: 3%; }

.title-default img {
  padding: 10px; }

/*Media*/
@media screen and (max-width: 1025px) {
  .main-container-bonuses--midle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
  .bonuses-card {
    width: 37%;
    padding: 3%; }
  .bonuses-card:nth-child(3) {
    margin-top: 5%; } }

@media screen and (max-width: 769px) {
  .advantages-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
    .advantages-card__item {
      width: 50%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: unset;
      -ms-flex-pack: unset;
      justify-content: unset;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .advantages-card__item:nth-child(3) {
      margin-top: 4%; }
    .advantages-card__item p {
      width: 60%;
      margin-left: 8%; }
  .main-container-instagram__midle a {
    width: 40%; }
  .main-container-instagram__midle a:nth-child(3) {
    margin-top: 3%; } }

@media screen and (max-width: 426px) {
  .advantages-card {
    display: flex;
    flex-direction: column; }
    .advantages-card__item {
      width: 100%;
      display: flex;
      flex-direction: column; }
    .advantages-card__item p {
      width: 80%;
      text-align: center;
      margin-left: 0; }
    .advantages-card__item:nth-child(2) {
      margin-top: 4%; }
  .price--img {
    display: none; }
  .price-card {
    margin: 0 auto; }
    .price-card__item {
      width: 90%; }
    .price-card__item--title h2 {
      font-size: 23px; }
  .main-container-bonuses--midle {
    display: flex;
    flex-direction: column; }
  .bonuses-card {
    width: 80%;
    margin: 0 auto; }
  .bonuses-card:nth-child(2) {
    margin-top: 5%; }
  .main-container-instagram__midle {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-container-instagram__midle a {
    width: 75%; }
  .main-container-instagram__midle a:nth-child(2) {
    margin-top: 3%; }
  .advantages-card__item:nth-child(1) {
    padding-top: 14px; } }

.main-container-blog {
  padding-top: 12%; }
  .main-container-blog__pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    width: 20%;
    margin: 0 auto;
    margin-top: 2%; }
  .main-container-blog__pagination a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    margin: 0 auto;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #575454;
    color: #fff; }
  .main-container-blog__pagination a:hover {
    background: #575454; }
  .main-container-blog__pagination a:first-child {
    border: none; }
  .main-container-blog__pagination a:last-child {
    border: none; }

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto; }

.blog-box {
  width: 40%; }
  .blog-box__img {
    width: 100%; }
  .blog-box__img img {
    width: 100%;
    height: 100%; }
  .blog-box__img p {
    padding: 10px;
    background: #5754543d;
    position: relative;
    bottom: 100px;
    padding-left: 4%; }
  .blog-box__txt p {
    position: relative;
    bottom: 60px; }

.main-container-blogs {
  width: 100%;
  margin-bottom: -200px; }

.blogs__img {
  width: 100%;
  max-height: 780px; }

.blogs__img img {
  width: 100%;
  max-height: 780px;
  margin-top: 100px; }

.blogs__txt {
  width: 80%;
  margin: 0 auto;
  position: relative;
  bottom: 14rem;
  background: #fff;
  color: #000;
  padding: 2%; }

/*Media*/
@media screen and (max-width: 1025px) {
  .main-container-blog {
    padding-top: 12%; }
    .main-container-blog__pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      width: 30%; } }

@media screen and (max-width: 769px) {
  .main-container-blog {
    padding-top: 12%; }
    .main-container-blog__pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      width: 40%; } }

@media screen and (max-width: 426px) {
  .main-container-blog {
    padding-top: 30%; }
    .main-container-blog__pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: unset;
      -ms-flex-align: unset;
      align-items: unset;
      width: 80%; }
  .blog-box {
    width: 90%; }
  .main-container-blogs {
    margin-bottom: -70px; }
  .blogs__txt {
    bottom: 4rem; } }

.main-img-studia {
  background: url(../../img/main-img.jpg) 100% 75% no-repeat;
  width: 100%;
  box-shadow: 0 3px 2px 0 #7d7878;
  height: 30.7vw;
  min-height: 200px;
  background-size: 100%;
  position: relative;
  top: 100px;
  margin-bottom: 100px; }

.main-container__tabs {
  width: 80%;
  margin: 0 auto; }

.main-container__littleSlider {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  margin: 0 auto;
  background: #7d7878;
  margin-top: 3%; }

.main-container__info {
  width: 90%;
  margin: 0 auto;
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap; }

.img-card {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset; }
  .img-card__item {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: url(../../img/art-black-and-white-blur-693598.jpg) 100% 75% no-repeat;
    padding: 0 !important;
    background-size: 100%; }
  .img-card__items {
    width: 22%;
    height: 20vw;
    cursor: pointer; }
  .img-card__item p {
    position: relative;
    top: 80%;
    text-align: center;
    color: white;
    padding: 10px 0 10px 0;
    background: #00000080; }

.txt-link {
  width: 100%;
  margin: 0 auto;
  display: flex;
  background: #000; }

.txt-link a {
  text-transform: uppercase;
  margin: 10px 0;
  color: #000 !important;
  background: #fff;
  border-radius: 5px;
  margin-right: 20px; }

.nav-link {
  padding: 0.3rem 1rem; }

.bigSlider {
  width: 90%;
  margin: 0 auto; }

.bigSlider--item {
  height: 30.7vw !important;
  min-height: 200px !important; }

.bigSlider--item img {
  width: 100%;
  height: 100%; }

.littleSlider {
  width: 90%;
  margin: 0 auto;
  padding: 3% 0; }

.littleSlider--item {
  min-height: 200px !important;
  display: flex;
  flex-direction: column;
  align-items: center; }

.littleSlider--item p {
  text-align: center; }

.littleSlider--item h4 {
  text-align: center; }

.littleSlider--item img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto; }

.nav-slider {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap; }

.nav-slider-item {
  margin-right: 20px;
  padding: 2% 0; }

.Mymodal {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  display: none; }
  .Mymodal__title {
    text-align: center; }
  .Mymodal__title h2 {
    color: #000 !important;
    padding: 15px 0; }
  .Mymodal__midle {
    width: 100%;
    background: #c4c4c4; }
  .Mymodal__midle img {
    width: 100%;
    padding: 10px 30px;
    margin: 0 auto; }

.bg {
  background-color: #7d7878;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: unset;
  -ms-flex-align: unset;
  align-items: unset;
  padding: 2% 0; }

.bottom__box-arrow-prev {
  cursor: pointer;
  width: 50px;
  margin-left: 15px; }

.bottom__box-arrow-next {
  cursor: pointer;
  width: 50px;
  margin-right: 13px; }

.arrow-prev {
  cursor: pointer;
  width: 40px;
  margin-left: 15px; }

.arrow-next {
  cursor: pointer;
  width: 40px;
  margin-right: 13px; }

.map {
  width: 48%;
  margin-right: 4%; }

.map img {
  width: 100%;
  height: 100%; }

.text {
  width: 48%;
  background: #7d7878;
  padding: 2%; }
  .text__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .text__box p {
    margin-left: 2%;
    margin-bottom: 0; }
  .text__box img {
    width: 35px; }
  .text__links h3 {
    margin-top: 12px; }
  .text__links-link {
    width: 100px;
    background: #fff; }
  .text__links-link:nth-child(1) {
    margin-right: 20px; }
  .text__links-link img {
    width: 100%; }

.wrap-links {
  display: flex; }

@media screen and (max-width: 1025px) {
  .img-card__item p {
    position: relative;
    top: 70%;
    font-size: 14px; }
  .text__title h2 {
    font-size: 28px; }
  .text__number h4 {
    font-size: 20px; } }

@media screen and (max-width: 769px) {
  .img-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset;
    flex-wrap: wrap; }
    .img-card__items {
      width: 40%;
      height: 35vw; }
    .img-card__items:nth-child(3) {
      margin-top: 5%; }
    .img-card__items:nth-child(4) {
      margin-top: 5%; }
  .main-container__info {
    display: flex;
    flex-direction: column; }
  .map {
    width: 100%; }
  .text {
    width: 100%;
    margin-left: 0;
    margin-top: 5%; }
  .bottom__box-arrow-prev {
    display: none !important; }
  .bottom__box-arrow-next {
    display: none !important; }
  .arrow-prev {
    display: none !important; }
  .arrow-next {
    display: none !important; } }

@media screen and (max-width: 426px) {
  .main-container__tabs {
    width: 95%;
    margin: 0 auto; }
  .img-card__items {
    width: 45%;
    height: 39vw; }
  .img-card__item p {
    font-size: 9px; }
  .title-default h1 {
    font-size: 30px; }
  .txt-link a {
    font-size: 12px; }
  .table td {
    font-size: 11px; }
  .text {
    margin-top: 4%; }
  .other a {
    width: 100% !important; } }
