footer {
    width: 100%;
    background: -webkit-gradient(linear, left bottom, left top, from(#000), to(#393939));
    background: linear-gradient(to top, #000, #393939);
}
.footer-container {
    width: 100%;
    margin: 0 auto;
    margin-top: 4%;
    display: -webkit-box;
    display: -ms-flexbox;
    @include dflex(center, unset);

    &__modal {
        width: 60% !important;
        padding: 2% 2% 2% 0 !important;
        @include dflex(flex-end, unset);
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }

    &__modal a {
        padding: 10px;
        border: 1px solid #575454;
        width: 40%;
        @include dflex(center, center);
        text-align: center;
        min-width: 120px;
    }

    &__modal a:nth-child(odd){
        margin-right: 10%;
    }

    &__modal a:nth-child(3) {
        margin-top: 20px;
    }

    &__modal a:nth-child(4) {
        margin-top: 20px;
    }

    &__social {
        width: 40%;
        padding: 2%;
        @include dflex(space-between, unset);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding-left: 0;
    }

    &__social-bottom{
        @include dflex(flex-start, center);
    }

    &__social img {
        width: 35px;
    }

    &__social p {
        margin: 0;
        margin-left: 10px;
    }

    &__social a:not(:first-child) {
        margin-left: 12px;
    }
}

.other {}

.other a {
    width: 45% !important;
}

.boss-container {
    max-width: 700px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;

    &__title {
        width: 100%;
        @include dflex(center, center);
    }

    &__title h2 {
        width: 100%;
        color: #000;
        text-align: center;
        font-weight: 100;
        font-size: 45px;
        padding: 1%;
        margin: 2% !important;
    }

    &__midle {
        width: 100%;
        background: #c4c4c4;
    }

    &__midle p {
        color: #000;
    }
}

form {
    @include dflex(space-between, unset);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 3%;
}

form p {
    margin-top: -20px;
}

.box-input {
    @include dflex(space-between, unset);
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

input[type="text"] {
    width: 40%;
    height: 33px;
    color: #000;
    padding-left: 5px;
}

input[type="text"]:nth-child(3) {
    margin-top: 20px;
}

input[type="text"]:nth-child(4) {
    margin-top: 20px;
}

input[type="button"] {
    width: 123px;
    height: 32px;
    font-size: 18px;
    color: #2c2c2c;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0px 2px 7px #a4a3a3;
            box-shadow: 0px 2px 7px #a4a3a3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #e2e2e2), color-stop(41%, #f3f3f3), color-stop(57%, #f3f3f3), to(#c1c1c1));
    background: linear-gradient(to bottom, #e2e2e2 17%, #f3f3f3 41%, #f3f3f3 57%, #c1c1c1 100%);
    cursor: pointer;
    font-weight: 300;
}

input[type="button"]:nth-child(1) {
    margin-right: 20px;
}

.btn {
    width: 100%;
    @include dflex(center, unset);
    margin-top: 20px;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 20px 0 !important;
    padding-left: 5px;
    padding-top: 5px;
    color: #000;
}

form textarea::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
}

form input::-webkit-input-placeholder {
    color: #000;
    font-size: 16px;
}

.fancybox-skin {
    padding: 0 !important;
}

/*Кнопка пульсирующая*/

.pulse {
    @include dflex(center, center);
    width: 80px;
    height: 80px;
    color: #000000;
    background: #1c84c6;
    border-radius: 50%;
    -webkit-animation: radial-pulse 1.2s infinite;
            animation: radial-pulse 1.2s infinite;
    text-align: center;
    position: fixed;
    bottom: 3%;
    right: 6%;
}

@-webkit-keyframes radial-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0px #1c84c680;
                box-shadow: 0 0 0 0px #1c84c680;
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px #00000000;
                box-shadow: 0 0 0 40px #00000000;
    }
}

@keyframes radial-pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0px #1c84c680;
                box-shadow: 0 0 0 0px #1c84c680;
    }

    100% {
        -webkit-box-shadow: 0 0 0 40px #00000000;
                box-shadow: 0 0 0 40px #00000000;
    }
}

/*Media*/

@media screen and (max-width: 769px) {
    .footer-container {
        @include dflex(unset, center);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        &__modal {
            width: 70% !important;
            padding: 2%;
            @include dflex(center, unset);
        }
        &__social {
            width: 70%;
        }

        &__social-top {
            @include dflex(center, unset);
            margin-bottom: 2%;
        }

        &__social-bottom{
            @include dflex(center, center);
        }
    }
}

@media screen and (max-width: 426px) {
    .footer-container {
        @include dflex(unset, flex-start);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;

        &__modal {
            width: 60%;
            padding: 2%;
            margin-left: 2%;
        }

        &__modal a {
            width: 100%;
        }

        &__social {
            width: 60%;
            margin-left: 4%;
        }

        &__social-bottom{
            @include dflex(flex-start, unset)
        }

        &__social-bottom img{
            display: none;
        }

        &__social-bottom p{
            margin: 0;
        }

        &__social-top {
            @include dflex(flex-start, unset);
            margin-bottom: 2%;
        }

        &__modal a:nth-child(2) {
            margin-top: 20px;
        }

        &__modal a:nth-child(odd){
            margin-right: 0;
        }
    }

    .box-input {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    input[type="text"]:nth-child(2) {
        margin-top: 20px;
    }

    input[type="text"] {
        width: 90%;
        margin: 0 auto;
    }


    textarea {
        width: 90%;
        margin: 20px auto !important;
    }

    form p {
        width: 90%;
        margin: -20px auto;
    }

    .btn {
        width: 100%;
        @include dflex(space-around, unset);
        margin-top: 40px;
    }

    .boss-container__title h2 {
        font-size: 27px;
    }
}