Shtml,
body {
    font-family: 'Museo Sans Cyrl', sans-serif !important;
    color: $links-defoult;
}
p{
    margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-weight: 100 !important;
    color: #fff;
}

a {
    text-decoration: none !important;
    color: $links-defoult;
}

.box-navbar a {
    text-transform: uppercase;
}

.title-default {
    text-align: center;
    padding: 1% 0;
}

.table {
    color: #fff !important;
}

.table th:nth-child(1) {
    border-top: none;
}

.table th:nth-child(2) {
    border-top: none;
}

.table th:nth-child(3) {
    border-top: none;
}

th {
    text-align: center !important;
}

th:nth-child(3) {
    color: #b1b1b180;
}

tr td:not(:first-child) {
    text-align: center !important;
}

tr td:nth-child(3) {
    color: #b1b1b180;
}
