.main-container-blog {
    padding-top: 12%;

    &__pagination {
        @include dflex(center, unset);
        width: 20%;
        margin: 0 auto;
        margin-top: 2%;
    }

    &__pagination a {
        @include dflex (flex-start, unset);
        margin: 0 auto;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #575454;
        color: #fff;
    }

    &__pagination a:hover {
        background: #575454;
    }

    &__pagination a:first-child {
        border: none;
    }

    &__pagination a:last-child {
        border: none;
    }
}

.blog-box {
    @include dflex(space-between, unset);



    &__img {
        width: 35%;
    }

    &__img img {
        width: 100%;
    }

    &__txt {
        margin-left: 10%;
        width: 65%;
    }
}

.blog-box:not(:last-child) {
    margin-bottom: 7%;
}

.main-container-blogs {
    width: 100%;
    margin-bottom: -200px;
}

.blogs__img {
    width: 100%;
    max-height: 780px;
}

.blogs__img img {
    width: 100%;
    max-height: 780px;
    margin-top: 100px;
}
.blogs__txt{
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 14rem;
    background: #fff;
    color: #000;
    padding: 2%;
}

/*Media*/

@media screen and (max-width: 1025px) {
    .main-container-blog {
        padding-top: 12%;

        &__pagination {
            @include dflex(center, unset);
            width: 30%;
        }
    }
}

@media screen and (max-width: 769px) {
    .main-container-blog {
        padding-top: 14%;

        &__pagination {
            @include dflex(center, unset);
            width: 40%;
        }
    }
}

@media screen and (max-width: 426px) {
    .main-container-blog {
        padding-top: 30%;

        &__pagination {
            @include dflex(center, unset);
            width: 80%;
        }
    }

    .main-container-blogs {
        margin-bottom: -70px;
    }

    .blogs__txt {
        bottom: 4rem;
    }

    .blog-box {
        @include dflex(space-between, unset);
        flex-wrap: wrap;


        &__img {
            width: 100%;
            margin: 0 auto;
        }

        &__img img {
            width: 100%;
        }

        &__txt {
            margin-left: 0%;
            width: 100%;
            text-align: center;
        }
    }
}