.main-container-blog {
    padding-top: 12%;

    &__pagination {
        @include dflex(center, unset);
        width: 20%;
        margin: 0 auto;
        margin-top: 2%;
    }

    &__pagination a {
        @include dflex (flex-start, unset);
        margin: 0 auto;
        padding: 8px 16px;
        text-decoration: none;
        border: 1px solid #575454;
        color: #fff;
    }

    &__pagination a:hover {
        background: #575454;
    }

    &__pagination a:first-child {
        border: none;
    }

    &__pagination a:last-child {
        border: none;
    }
}

.blog {
    @include dflex(space-around, unset);
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}

.blog-box {
    width: 40%;

    &__img {
        width: 100%;
    }

    &__img img {
        width: 100%;
        height: 100%;
    }

    &__img p {
        padding: 10px;
        background: #5754543d;
        position: relative;
        bottom: 100px;
        padding-left: 4%;
    }

    &__txt p {
        position: relative;
        bottom: 60px;
    }
}

.main-container-blogs {
    width: 100%;
    margin-bottom: -200px;
}

.blogs__img {
    width: 100%;
    max-height: 780px;
}

.blogs__img img {
    width: 100%;
    max-height: 780px;
    margin-top: 100px;
}
.blogs__txt{
    width: 80%;
    margin: 0 auto;
    position: relative;
    bottom: 14rem;
    background: #fff;
    color: #000;
    padding: 2%;
}

    /*Media*/

@media screen and (max-width: 1025px) {
    .main-container-blog {
        padding-top: 12%;

        &__pagination {
            @include dflex(center, unset);
            width: 30%;
        }
    }
}

@media screen and (max-width: 769px) {
    .main-container-blog {
        padding-top: 12%;

        &__pagination {
            @include dflex(center, unset);
            width: 40%;
        }
    }
}

@media screen and (max-width: 426px) {
    .main-container-blog {
        padding-top: 30%;

        &__pagination {
            @include dflex(center, unset);
            width: 80%;
        }
    }

    .blog-box {
        width: 90%;
    }

    .main-container-blogs{
        margin-bottom: -70px;
    }

    .blogs__txt{
        bottom: 4rem;
    }
}