.main-container {

    &__comment {
        width: 100%;
    }
}

.mt {
    margin-top: 99px;
}

.head {
    @include dflex(space-between, center);

    &__title {
        width: 70%;
        @include dflex(flex-end, unset);
        margin-left: 25%;
    }

    &__link {
        width: 30%;
        @include dflex(flex-end, unset);
    }
}

.head a {
    color: #2c2c2c !important;
}

.head h1 {
    width: 70%;
}

.forma {
    display: none;
}

.item-comment {
    display: flex;
    margin-top: 30px;

    &__right {
        margin-left: 35px;
    }

    &__right--name h3 {
        margin: 0;
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        background: #575454a8;
        padding: 3px 6px;
    }

    &__right--parag {
        background: #2C2C2C;
    }

    &__right--parag {
        background: #2C2C2C;
        padding: 10px 15px;
        margin-top: 20px;
    }

    &__right--parag p {
        position: relative;
        z-index: 1;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-width: 10px 70px 10px 0;
    border-color: transparent #2C2C2C transparent transparent;
    border-style: solid;
    -webkit-transform: rotate(12deg);
    transform: rotate(12deg);
    position: relative;
    top: -18px;
    right: 51px;
}

.addReview {
    margin-right: 20px;
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    padding: 8px 10px;
    font-size: 18px;
    color: #2c2c2c;
    border-radius: 25px;
    border: none;
    -webkit-box-shadow: 0px 2px 7px #a4a3a3;
    box-shadow: 0px 2px 7px #a4a3a3;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(17%, #e2e2e2), color-stop(41%, #f3f3f3), color-stop(57%, #f3f3f3), to(#c1c1c1));
    background: linear-gradient(to bottom, #e2e2e2 17%, #f3f3f3 41%, #f3f3f3 57%, #c1c1c1 100%);
    cursor: pointer;
    font-weight: 300;
}

.card-comment {
    width: 80%;
    margin: 0 auto;
}

.img-comment {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.item-comment {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.btn-review {
    width: -webkit-max-content !important;
    width: -moz-max-content !important;
    width: max-content !important;
    margin-top: -15px;
}

.captcha {
    @include dflex (center, center);
}


.form-block {
    @include dflex (space-between, unset);
}

.myWidth {
    width: 700px;
}

/*Media*/

@media screen and (max-width:1025px) {
    .addReview {
        width: -webkit-max-content !important;
        width: -moz-max-content !important;
        width: max-content !important;
    }

    .triangle {
        top: -50px;
        right: 51px;
    }

}

@media screen and (max-width:769px) {
    .addReview {
        width: -webkit-max-content !important;
        width: -moz-max-content !important;
        width: max-content !important;
    }

    .myWidth {
        width: 600px;
    }
}

@media screen and (max-width:425px) {

    .head {
        @include dflex(space-between, center);
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        &__title {
            width: 100%;
            margin-left: 0;
            @include dflex(center, unset);
        }

        &__link {
            width: 100%;
            @include dflex(center, unset);
        }
    }

    .head h1 {
        width: 100%;
        text-align: center;
    }

    .addReview {
        margin-right: 0px;
    }

    .myWidth {
        width: 280px;
    }

    .form-block {
        @include dflex (unset, center);
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .btn-review {
        margin-top: 25px;
    }

    .item-comment {
        display: flex;
        flex-direction: column;

        &__right {
            margin-left: 10px;
        }
    }

    .triangle {
        display: none;
    }

    .item-comment {
    
        &__left {
            margin: 0 auto !important;
            margin-bottom: 20px !important;
        }

        &__right--name h3{
            width: 100%;
        }
    }
}