.main-img-studia {
    background: url(../img/main-img.jpg)100% 75% no-repeat;
    width: 100%;
    box-shadow: 0 3px 2px 0 #7d7878;
    height: 30.7vw;
    min-height: 200px;
    background-size: 100%;
    position: relative;
    top: 100px;
    margin-bottom: 100px;
}

.main-container {

    &__tabs {
        width: 80%;
        margin: 0 auto;
    }

    &__littleSlider {
        width: 90%;
        @include dflex(center, unset);
        margin: 0 auto;
        background: #7d7878;
        margin-top: 3%;
    }

    &__info {
        width: 90%;
        margin: 0 auto;
        margin-top: 4%;
        display: flex;
        flex-wrap: wrap;
    }
}

.img-card {
    width: 100%;
    margin: 0 auto;
    @include dflex(space-between, unset);

    &__item {
        width: 100%;
        height: 100%;
        cursor: pointer;
        background: url(../img/art-black-and-white-blur-693598.jpg) 100% 75% no-repeat;
        padding: 0 !important;
        background-size: 100%;
    }

    &__items {
        width: 22%;
        height: 20vw;
        cursor: pointer;
    }

    &__item p {
        position: relative;
        top: 80%;
        text-align: center;
        color: rgb(255, 255, 255);
        padding: 10px 0 10px 0;
        background: #00000080;
    }


}

.txt-link {
    width: 100%;
    margin: 0 auto;
    display: flex;
    background: #000;
}

.txt-link a {
    text-transform: uppercase;
    margin: 10px 0;
    color: #000 !important;
    background: #fff;
    border-radius: 5px;
    margin-right: 20px;
}

.nav-link {
    padding: 0.3rem 1rem;
}

.bigSlider {
    width: 90%;
    margin: 0 auto;
}

.bigSlider--item {
    height: 30.7vw !important;
    min-height: 200px !important;
}

.bigSlider--item img {
    width: 100%;
    height: 100%;
}


.littleSlider {
    width: 90%;
    margin: 0 auto;
    padding: 3% 0;
}

.littleSlider--item {
    min-height: 200px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.littleSlider--item p {
    text-align: center;
}

.littleSlider--item h4 {
    text-align: center;
}

.littleSlider--item img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
}

.nav-slider {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.nav-slider-item {
    margin-right: 20px;
    padding: 2% 0;

}

.Mymodal {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    display: none;

    &__title {
        text-align: center;
    }

    &__title h2 {
        color: #000 !important;
        padding: 15px 0;
    }

    &__midle {
        width: 100%;
        background: #c4c4c4;
    }

    &__midle img {
        width: 100%;
        padding: 10px 30px;
        margin: 0 auto;
    }
}

.bg {
    background-color: #7d7878;
    @include dflex(center, unset);
    padding: 2% 0;
}

.bottom__box-arrow-prev {
    cursor: pointer;
    width: 50px;
    margin-left: 15px;
}

.bottom__box-arrow-next {
    cursor: pointer;
    width: 50px;
    margin-right: 13px;
}

.arrow-prev {
    cursor: pointer;
    width: 40px;
    margin-left: 15px;
}

.arrow-next {
    cursor: pointer;
    width: 40px;
    margin-right: 13px;
}

.map {
    width: 48%;
    margin-right: 4%;
}

.map img {
    width: 100%;
    height: 100%;
}

.text {
    width: 48%;
    background: #7d7878;
    padding: 2%;

    &__box {
        @include dflex (unset, center);
    }

    &__box p {
        margin-left: 2%;
        margin-bottom: 0;
    }

    &__box img {
        width: 35px;
    }

    &__links h3 {
        margin-top: 12px;
    }

    &__links-link {
        width: 100px;
        background: #fff;
    }

    &__links-link:nth-child(1) {
        margin-right: 20px;
    }

    &__links-link img {
        width: 100%;
    }
}

.wrap-links {
    display: flex;
}

    /*Media*/

@media screen and (max-width: 1025px) {
    .img-card {

        &__item p {
            position: relative;
            top: 70%;
            font-size: 14px;
        }
    }

    .text__title h2{
        font-size: 28px;
    }

    .text__number h4{
        font-size: 20px;
    }
}

@media screen and (max-width: 769px) {
    .img-card {
        @include dflex(space-evenly, unset);
        flex-wrap: wrap;

        &__items {
            width: 40%;
            height: 35vw;
        }

        &__items:nth-child(3) {
            margin-top: 5%;
        }

        &__items:nth-child(4) {
            margin-top: 5%;
        }
    }

    .main-container {
        &__info {
            display: flex;
            flex-direction: column;
        }
    }

    .map {
        width: 100%;
    }

    .text {
        width: 100%;
        margin-left: 0;
        margin-top: 5%;
    }

    .bottom__box-arrow-prev {
        display: none !important;
    }

    .bottom__box-arrow-next {
        display: none !important;
    }

    .arrow-prev {
        display: none !important;
    }

    .arrow-next {
        display: none !important;
    }
}

@media screen and (max-width: 426px) {
    .main-container {

        &__tabs {
            width: 95%;
            margin: 0 auto;
        }
    }

    .img-card {

        &__items {
            width: 45%;
            height: 39vw;
        }
    }

    .img-card {

        &__item p {
            font-size: 9px;
        }
    }

    .title-default h1 {
        font-size: 30px;
    }

    .txt-link a {
        font-size: 12px;
    }

    .table td {
        font-size: 15px;
    }

    .text {
        margin-top: 4%;
    }

    .other a {
        width: 100% !important;
    }
}